@font-face {
  font-family: openSans;
  src: url(./OpenSans-Bold.ttf);
}

@font-face {
  font-family: openSansLight;
  src: url(./OpenSans-Light.ttf);
}

.leftSide {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 62%;
  height: 100%;
}

.title h1 {
  color: 003366;
  font-family: openSansLight;
  font-size: 48px;
  position: absolute;
  left: 18%;
  top: 3%;
}

.secondTitle h1 {
  color: 003366;
  font-size: 30px;
  font-family: openSans;
  position: absolute;
  left: 43%;
  top: 3%;
}

.rightSide {
  background-color: black;
  width: 38%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (max-device-width: 600px) {
  .rightSide {
    background-color: white;
  }
}

.blueBox {
  position: absolute;
  top: 29.13%;
  left: 4%;
  width: 60%;
  height: 51%;
  background-color: 003366;
  border-radius: 1%;

  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.blueBox {
  position: absolute;
  top: 26.13%;
  left: -20%;
  width: 60%;
  height: 51%;
  background-color: 003366;
  border-radius: 1%;

  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.greyBox {
  position: absolute;
  top: 29.13%;
  left: 72%;
  width: 20%;
  height: 45%;
  background-color: #c8c8c8;
  opacity: 30%;
  border-radius: 1%;

  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.greyBoxLeft {
  position: absolute;
  top: 80%;
  left: 5%;
  width: 17.5%;
  height: 17%;
  opacity: 40%;
  border-radius: 1%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.greyBoxMiddle {
  position: absolute;
  top: 80%;
  left: 23.9%;
  width: 17.5%;
  height: 17%;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  opacity: 40%;
  border-radius: 1%;

  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.greyBoxRight {
  position: absolute;
  top: 80%;
  left: 43%;
  width: 17.5%;
  height: 17%;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  opacity: 40%;
  border-radius: 1%;

  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.greyBoxText h1 {
  font-family: openSansLight;
  color: white;
  font-size: 13px;
  position: absolute;
  left: 75%;
  top: 33%;
  line-height: 6.5mm;
}

.blackBox {
  position: absolute;
  top: 74.13%;
  left: 72%;
  width: 20%;
  height: 10%;
  background-color: black;
  opacity: 60%;
  border-radius: 1%;

  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.blackBoxText h1 {
  font-family: openSansLight;
  color: white;
  font-size: 15px;
  position: absolute;
  left: 30%;
}

.blackBoxText h2 {
  font-family: openSansLight;
  color: white;
  font-size: 13px;
  position: absolute;
  font-style: italic;
  left: 30%;
}

.blueBoxSquare {
  position: absolute;
  top: 41.13%;
  left: 36%;
  width: 50px;
  height: 50px;
  background-color: 003366;
  border-radius: 1%;
  transform: rotate(45deg);
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

@media only screen and (max-device-width: 600px) {
  .blueBoxSquare {
    position: absolute;
    top: 75%;
    left: -10%;
    width: 200px;
    height: 200px;
  }
}

.blueBox h1 {
  font-family: openSansLight;
  font-size: 28px;
  color: white;
}

.blueBox p {
  font-family: openSansLight;
  font-size: 17px;
  color: white;
}

.secondBox {
  position: absolute;
  top: 31.13%;
  left: 0;
  width: 3%;
  height: 43.75%;
  background-color: 1062bd;
  border-radius: 1%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.tint {
  height: 100%;
  width: 100%;
  color: black;
  opacity: 64%;
}

.tower {
  height: 100%;
  width: 100%;
}

@media only screen and (max-device-width: 600px) {
  .tower {
    position: absolute;
    width: 980px;
    height: 1500px;
    top: 150%;
    left: -40%;
  }

  .tint {
    position: absolute;
    top: 0;
    left: -125%;
    opacity: 100%;
  }

  .secondTint {
    position: absolute;
    top: 150%;
    left: -165%;
    width: 980px;
    height: 1500px;
    opacity: 30%;
    background-color: black;
  }
}

.container {
  width: 100%;
  height: 100%;
}

.blueBoxText {
  position: absolute;
  left: 10%;
  top: 5%;
}

.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;

  height: 10%;
  color: white;

  display: inline-block;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: openSans;
  opacity: 1;
  font-size: 0.65em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.btn:hover,
.btn:focus {
  opacity: 0.8;
}
.btn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.btn.block {
  display: block !important;
}
.btn.circular {
  border-radius: 50em !important;
}

.yellow {
  background-color: #d29b50;
  opacity: 1;
}

.transparent {
  background-color: none;
  border-style: solid;
  opacity: 1;
}

.transparent2 {
  background-color: none;
  opacity: 0.7;
}

.scrollImage {
  position: absolute;
  left: 58%;
  top: 20%;
  width: 33%;
  height: 50%;
}

.navBtn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;

  color: white;

  display: inline-block;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: openSans;
  opacity: 0.7;
  font-size: 0.65em;

  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
  left: 65.5%;
}
.navBtn:hover,
.navBtn:focus {
  opacity: 1;
}
.navBtn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.navBtn.block {
  display: block !important;
}
.navBtn.circular {
  border-radius: 50em !important;
}

.bookingBtn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;

  color: white;

  display: inline-block;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: openSans;

  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: absolute;
  top: 85%;
  left: 71.4%;
  opacity: 1;
}
.bookingBtn:hover,
.bookingBtn:focus {
  opacity: 0.8;
}
.bookingBtn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.bookingBtn.block {
  display: block !important;
}
.bookingBtn.circular {
  border-radius: 50em !important;
}

.redBtn {
  background-color: #ff5f58;
}

.infoBoxTexts h1 {
  font-family: openSans;
  text-align: center;
  color: #003366;
  font-size: 14px;
  padding: 0;
  margin: 5;
}

@media only screen and (max-device-width: 600px) {
  .title h1 {
    display: none;
  }

  .secondTitle h1 {
    position: absolute;
    font-size: 50px;
    top: 19%;
    left: 15%;
    width: 90%;
  }

  .blueBox {
    position: absolute;
    top: 32%;
    height: 50%;
    width: 92%;
  }
  .infoBoxTexts {
    display: none;
  }

  .blueBoxText {
    width: 90%;
  }

  .blueBoxText h1 {
    position: absolute;
    top: 5%;
    left: 23%;
    font-size: 50px;
  }
  .blueBoxText p {
    position: absolute;
    top: 520px;
    left: 80px;
    line-height: 2;
    font-size: 35px;
  }

  .btn {
    display: inline-block;
    position: relative;
    top: 800px;
    left: 10%;
    font-size: 1em;
  }

  .blackBox {
    display: none;
  }

  .greyBoxText {
    display: none;
  }

  .bookingBtn {
    display: none;
  }

  .navBtn {
    display: none;
  }

  .scrollImage {
    position: absolute;
    top: 22%;
    left: 23%;
    width: 500px;
    height: 350px;
  }

  .circles {
    display: none;
  }

  .greyBox {
    display: none;
  }

  .rectangle {
    display: none;
  }

  .titleOne {
    display: none;
  }

  .titleTwo {
    display: none;
  }

  .titleThree {
    display: none;
  }

  .convinced {
    display: none;
  }

  .infoBoxTexts {
    display: none;
  }

  .iconImages {
    display: none;
  }

  .greyBoxLeft {
    position: absolute;
    width: 500px;
    height: 320px;
    top: 90%;
    left: 24%;
  }

  .greyBoxMiddle {
    position: absolute;
    top: 110%;
    width: 500px;
    height: 320px;
    left: 24%;
  }

  .greyBoxRight {
    position: absolute;
    top: 130%;
    left: 24%;
    width: 500px;
    height: 320px;
  }
}

.infoBoxTexts p {
  font-family: openSansLight;
  color: black;
  font-size: 14px;
  margin: 0;
}

.infoBoxTexts h1 {
  font-family: openSansLight;
  color: #003366;
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}

.leftBox {
  position: absolute;
  top: 86%;
  left: 22.5%;
}

.firstIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 84.8%;
  left: 16.5%;
}

.secondIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 84.8%;
  left: 45.5%;
}

.thirdIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 84.8%;
  left: 76%;
}

.middleBox {
  position: absolute;
  top: 86%;
  left: 52.5%;
}

.rightBox {
  position: absolute;
  top: 86%;
  left: 82.5%;
}

.rightBox h1 {
  color: black;
}

.rectangle {
  width: 2px;
  height: 86px;
  position: absolute;
  background-color: 003366;
  top: 6%;
  left: 23%;
}

.circles {
  position: absolute;
  left: 73%;
  top: 70%;
}
.circle1 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
}

.circle2 {
  margin-left: 18px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  opacity: 0.5;
}

.iconPic {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 75.3%;
  left: 73%;
}

.hoverRectangle {
  width: 20px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 8%;
  left: 70%;
  display: none;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}

.title img {
  width: 300px;
  height: 310px;
  position: absolute;
  top: -4%;
  left: 4%;
}

@media only screen and (max-device-width: 600px) {
  .title img {
    width: 610px;
    height: 680px;
    position: absolute;
    top: 1%;
    left: -20%;
  }
}

.titleOne {
  position: absolute;
  top: 15%;
  left: 67%;
  height: 80%;
  width: 33%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.titleOne h2 {
  font-size: 22px;
  color: white;
  font-family: openSans;
  position: absolute;
  text-align: left;
  padding: 15;
}

.titleOne p {
  font-size: 16px;
  color: white;
  font-family: openSansLight;
  position: absolute;
  top: 8%;
  text-align: left;
  padding: 15;
}

.titleTwo {
  position: absolute;
  top: 29%;
  left: 67%;
  width: 30%;
  transition: 1s;
  height: 70%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.titleTwo h2 {
  font-size: 22px;
  color: white;
  font-family: openSans;
  position: absolute;
  text-align: left;
  padding: 15;
}

.titleTwo p {
  font-size: 16px;
  color: white;
  width: 80%;
  font-family: openSansLight;
  position: absolute;
  top: 10%;
  text-align: left;
  padding: 15;
}

.titleThree {
  position: absolute;
  top: 54%;
  transition: 1s;
  left: 67%;
  width: 30%;
  height: 30%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.titleThree h2 {
  font-size: 22px;
  color: white;
  font-family: openSans;
  position: absolute;
  text-align: left;
  padding: 15;
}

.titleThree p {
  font-size: 16px;
  color: white;
  width: 80%;
  font-family: openSansLight;
  position: absolute;
  top: 40%;
  text-align: left;
  padding: 15;
}

.convinced {
  font-family: openSansLight;
  font-weight: lighter;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 71.5%;
  left: 75.5%;
}
